<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./public/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Toughts</title>
  </head>

  <body>

    <nav>
      <a href="/">
        <img src="../../public/img/favicon.ico" alt="Logo" />
      </a>

      <ul>
        <li><a href="/">Pensamentos</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registrar</a></li>
      </ul>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

    <footer>
      <p><span>Toughts</span> &copy; 2024</p>
    </footer>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  </body>

</html>